.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.body {
  background-color: #000;
  font-family: Sen, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.wrapper.grid {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper.grid.projectwrapper {
  max-width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--image-18f53c2c);
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
}

.wrapper.grid.projectwrapper.prudhero {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--image-49a00b9b);
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.wrapper.grid.projectwrapper.ccrhero {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--image-i55811f7c);
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.wrapper.grid-3_col {
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper.projects-grid {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper.sticky-grid {
  grid-column-gap: 64px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper.footer-grid {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .6fr .4fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 72px;
  padding-right: 72px;
}

.nav-link {
  color: rgba(255, 255, 255, .7);
  padding: 32px 24px;
  font-size: 16px;
  line-height: 150%;
  transition: color .35s cubic-bezier(.165, .84, .44, 1);
}

.nav-link:hover {
  color: #0ff;
}

.nav-link.button {
  color: #fff;
  background-color: #5221e6;
  font-weight: 700;
  transition: background-color .35s cubic-bezier(.165, .84, .44, 1), color .35s cubic-bezier(.165, .84, .44, 1);
}

.nav-link.button:hover {
  background-color: #2a0b85;
}

.brand {
  margin-top: 32px;
  padding-left: 0;
}

.logo {
  font-size: 1px;
}

.hero-section {
  height: 90vh;
  max-height: 1080px;
  padding-right: 40px;
  position: static;
}

.hero-section.projecthero {
  padding-right: 0;
}

.hero-image-box {
  height: 80vh;
  max-height: 864px;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), var(--image-id7b773);
  background-position: 0 0, 40%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.hero-image-box.heroappimg {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--image-i6773d704);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.hero-image-box.abouthero {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--image-i46baf34);
  background-position: 0 0, 40%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.hero-image-box.projectshero {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--image-i72511776);
  background-position: 0 0, 40%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.heading_76px {
  color: #fff;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 70px;
  line-height: 110%;
}

.heading_76px.viuapph {
  font-size: 60px;
}

.hero-text-block {
  margin-left: -64px;
}

.hero-text-block.projecttextblock {
  margin-left: 2vw;
}

.paragraph_18px {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
}

.paragraph_18px.dark-grey {
  color: #5b6876;
}

.paragraph_18px.light-grey {
  color: #8491a0;
  margin-bottom: 20px;
}

.paragraph_18px.light-grey._40px-bottom_m {
  margin-bottom: 40px;
}

.paragraph_18px.light-grey._64px-bottom_m {
  margin-bottom: 64px;
}

.hero-bg {
  z-index: -1;
  width: 65vw;
  height: 110vh;
  max-height: 1350px;
  background-image: linear-gradient(#181823, #181823);
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.hero-bg.projectherobg {
  height: 124vh;
}

.white_50 {
  color: rgba(255, 255, 255, .5);
}

.experience-section {
  padding: 10vh 72px 120px;
}

.overline_16px {
  color: #8491a0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  display: inline-block;
}

.heading_55px {
  width: 100%;
  max-width: 780px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 55px;
  line-height: 110%;
  display: inline-block;
}

.heading_55px.black {
  color: #181823;
}

.heading_55px.black._24px-bottom {
  margin-bottom: 24px;
}

.heading_55px.black._24px-bottom.storedarkh {
  color: #fff;
}

.heading_55px._24px-bottom {
  margin-bottom: 24px;
}

.flex-vertical_left_top {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.experience-grid {
  grid-column-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
}

.number {
  color: #8491a0;
  margin-bottom: 8px;
  font-size: 117px;
  font-weight: 400;
  line-height: 100%;
  display: block;
}

.number.abouticon {
  margin-bottom: 20px;
  font-family: "Fa solid 900", sans-serif;
}

.heading_24px {
  color: #fff;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.heading_24px._64px-bottom_m {
  margin-bottom: 64px;
}

.experience-block {
  padding-right: 48px;
}

.experience-block.processblock {
  margin: 12px 12px 24px;
}

.paragraph_16px {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
}

.paragraph_16px.light-grey {
  color: #8491a0;
}

.paragraph_16px.white {
  color: #fff;
}

.paragraph_16px.cyan {
  color: #0ff;
  transition: color .35s;
}

.paragraph_16px.cyan:hover {
  color: rgba(0, 255, 255, .85);
}

.green {
  color: #3cc74e;
}

.blue {
  color: #609bff;
}

.pink {
  color: #de2b67;
}

.mid-section {
  margin-bottom: 10vh;
  display: block;
}

.mid_left-block {
  background-color: #fff3e4;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 120px 72px;
  display: flex;
}

.mid_left-block.instagram {
  background-color: #e8e8e8;
}

.mid_left-block.blackblock {
  background-color: #000;
}

.animated-link-button {
  color: #181823;
  border-bottom: 1px solid #5b6876;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  transition: color .35s cubic-bezier(.165, .84, .44, 1), padding .35s cubic-bezier(.165, .84, .44, 1), background-color .35s cubic-bezier(.165, .84, .44, 1);
  display: inline-block;
}

.animated-link-button:hover {
  color: #fff;
  background-image: linear-gradient(#5221e6, #5221e6);
  padding-left: 16px;
  padding-right: 16px;
}

.animated-link-button.white {
  color: #fff;
  background-color: #000;
}

.animated-link-button.white.centerbtn {
  max-width: 40%;
  min-width: 30%;
  flex-wrap: nowrap;
  justify-content: space-around;
  display: flex;
}

.animated-link-button.white.pricebtn {
  margin-top: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  line-height: 20px;
}

.normal-wrapper._48px-right_p {
  padding-right: 48px;
}

.normal-wrapper._48px-right_p._80px-bottom_m {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
  display: flex;
}

.normal-wrapper._120px-bottom_m {
  margin-bottom: 120px;
}

.normal-wrapper.flex-vertical_left_space-betwen {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.normal-wrapper.flex-horizontal_left_top {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.mid_image {
  background-image: var(--image-5a009a7e);
  background-position: 50%;
  background-size: cover;
}

.mid_image.instagram {
  background-image: var(--image-2dca91cb);
  background-position: 50% 0;
}

.mid_image.rebrand {
  background-image: var(--image-i57c6b58c);
  background-position: 0%;
}

.mid_image.seo {
  background-image: var(--image-ceb251a);
  background-position: 50% 0;
  background-size: cover;
}

.mid_image.influencer {
  background-image: var(--image-i344501ec);
  background-position: 0%;
}

.mid_image.custom {
  background-image: var(--image-i72511776);
}

.skills-section {
  padding: 120px 72px;
  display: block;
}

.skill-icon {
  margin-bottom: 24px;
}

.logo-bar-section {
  overflow: hidden;
}

.logo-grid {
  grid-column-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logo-box {
  width: 24vw;
  height: 140px;
  border: 1px solid #181823;
  justify-content: center;
  align-items: center;
  display: flex;
}

.projects-section {
  padding: 120px 72px;
}

.project-image {
  height: 400px;
  object-fit: cover;
}

.project-description {
  background-color: #181823;
  padding: 40px 32px;
  position: relative;
}

.button-wrapper {
  height: 232px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cta {
  color: #fff;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #5221e6;
  padding: 24px 32px;
  font-size: 18px;
  font-weight: 700;
  transition: box-shadow .35s cubic-bezier(.165, .84, .44, 1), background-color .35s cubic-bezier(.165, .84, .44, 1), transform .35s cubic-bezier(.165, .84, .44, 1);
}

.cta:hover {
  background-color: #5221e6;
  transform: translate(0, -5px);
  box-shadow: 0 20px 60px rgba(82, 33, 230, .3);
}

.cta.projbtn.w--current {
  text-align: left;
  display: inline-block;
}

.project-wrapper {
  margin-bottom: 24px;
  text-decoration: none;
  overflow: hidden;
}

.project-wrapper._24px-bottom_m {
  margin-bottom: 24px;
}

.dribbble-section {
  padding-top: 120px;
  padding-bottom: 120px;
  display: block;
}

.wrapper-v2 {
  width: 100%;
  height: 100%;
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-v2.forms-grid {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.brower-bar {
  height: 37px;
  background-color: #181823;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  display: flex;
}

.dots {
  width: 12px;
  height: 12px;
  background-color: #8491a0;
  border-radius: 100px;
  margin-right: 6px;
}

.dribbble-image {
  height: 640px;
  background-image: var(--image-4843566b);
  background-position: 50%;
  background-repeat: repeat;
  background-size: 1024px;
  background-attachment: fixed;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.testimonial-section {
  padding: 120px 72px;
}

.testimonial-block._120px-bottom_m {
  margin-bottom: 120px;
}

.testimonial-image {
  height: 360px;
  object-fit: cover;
}

.testimonial-text {
  border-bottom: 1px solid #5b6876;
  border-left: 1px solid #5b6876;
  border-right: 1px solid #5b6876;
  padding: 64px;
}

.heading_18px {
  color: #fff;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.heading_18px.light-grey {
  color: #8491a0;
}

.heading_18px.light-grey._4px-bottom_m {
  margin-bottom: 4px;
}

.testimonial-sticky-block {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
}

.tabs-section {
  padding: 120px 72px;
}

.tab {
  color: #fff;
  background-color: rgba(221, 221, 221, 0);
  border: 1px solid #5221e6;
  margin-right: 24px;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 700;
  transition: background-color .35s cubic-bezier(.165, .84, .44, 1);
}

.tab:hover {
  background-color: rgba(82, 33, 230, .2);
}

.tab.w--current {
  background-color: #5221e6;
}

.tab-menu {
  margin-bottom: 40px;
}

.tab-grid {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tab-grid.projecttabgrid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tab-grid.pricinggrid {
  grid-column-gap: 47px;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab-grid.app-grid {
  max-height: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: minmax(auto, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  display: grid;
}

.tab-grid._2vidgrid {
  grid-template-columns: 1fr 1fr;
}

.tab-grid.ccrgrid {
  grid-template-columns: 1fr 1fr 1fr;
}

.tab-grid.custompricinggrid {
  grid-template-columns: 1fr;
}

.tab-image {
  height: 100%;
  object-fit: cover;
}

.tab-image.apptabimg {
  object-fit: cover;
}

.forms-section {
  padding: 120px 72px;
}

.text-field {
  color: #fff;
  background-color: #181823;
  border: 0 #000;
  margin-top: 8px;
  margin-bottom: 40px;
}

.text-field._100px {
  height: 100px;
  display: block;
}

.form-button {
  width: 100%;
  background-color: #5221e6;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

.success {
  background-color: #3cc74e;
}

.success-text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.error-message {
  background-color: #e43b3b;
}

.text-block {
  color: #fff;
}

.footer {
  height: 422px;
  background-color: #181823;
  padding: 80px 72px;
}

.footer-logo {
  margin-bottom: 32px;
}

.social-icons {
  margin-right: 16px;
}

.footer-link-block {
  width: 50%;
  border: 1px #000;
  text-decoration: none;
}

.footer-link {
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  transition: color .35s cubic-bezier(.165, .84, .44, 1);
}

.footer-link:hover {
  color: #0ff;
}

.skills-wrapper._48px-right_p {
  padding-right: 48px;
}

.progress-bar {
  z-index: 100;
  width: 100%;
  height: 5px;
  transform-origin: 0%;
  background-color: #5221e6;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.arrow-div {
  width: 48px;
  height: 48px;
  background-color: #5221e6;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.banner {
  width: 100%;
  background-color: #5221e6;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), linear-gradient(to right, #5221e6, #8d21e6);
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  text-decoration: none;
  transition: background-color .35s cubic-bezier(.165, .84, .44, 1);
  display: block;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.banner:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(to right, #5221e6, #8d21e6);
}

.banner-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.text-block-2 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.tabs-content {
  margin-bottom: 5vh;
}

.div-block {
  justify-content: space-around;
  display: flex;
}

.bgwrapper.wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--image-18f53c2c);
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.clientdiv {
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20vh;
  display: flex;
}

.horizontalclient {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: stretch;
  justify-items: center;
  display: grid;
}

.boldproject {
  font-size: 20px;
}

.pricebg {
  background-image: linear-gradient(to right, #5221e6, #000);
  margin-bottom: 30px;
  padding: 25px;
}

.pricingcard {
  color: #fff;
  text-align: center;
}

.pricingp {
  margin-left: 9px;
  margin-right: 9px;
  padding: 14px 0;
}

.pricingincluded {
  text-align: center;
  letter-spacing: 1.2px;
  padding: 9px;
  font-family: "Fa solid 900", sans-serif;
  font-size: 10px;
}

.pricetag {
  font-size: 65px;
  line-height: 100%;
}

@media screen and (max-width: 991px) {
  .wrapper.grid-3_col {
    grid-template-columns: 1fr 1fr;
  }

  .wrapper.projects-grid {
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .wrapper.sticky-grid {
    grid-column-gap: 24px;
  }

  .wrapper.footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .nav-bar {
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero-section {
    padding-right: 32px;
  }

  .heading_76px {
    font-size: 56px;
  }

  .experience-section {
    padding: 150px 40px 80px;
  }

  .experience-block {
    padding-right: 16px;
  }

  .mid_left-block, .skills-section {
    padding: 80px 40px;
  }

  .logo-grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
  }

  .logo-box {
    width: auto;
  }

  .projects-section {
    padding: 80px 40px;
  }

  .project-wrapper._24px-bottom_m {
    margin-bottom: 48px;
  }

  .dribbble-section {
    padding: 80px 40px;
  }

  .dribbble-image {
    height: 480px;
    background-size: cover;
  }

  .testimonial-section {
    padding: 80px 40px;
  }

  .testimonial-block._120px-bottom_m {
    margin-bottom: 64px;
  }

  .testimonial-text {
    padding: 32px;
  }

  .tabs-section {
    padding: 80px 40px;
  }

  .tab-grid {
    height: 840px;
    max-height: none;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  .forms-section {
    padding: 80px 40px;
  }

  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .banner {
    display: block;
  }

  .banner-text {
    text-align: center;
    line-height: 130%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper.grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .wrapper.grid-3_col {
    grid-template-columns: 1fr;
    align-items: stretch;
  }

  .wrapper.sticky-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .wrapper.footer-grid {
    grid-template-columns: 1fr;
  }

  .nav-bar {
    padding-left: 20px;
    padding-right: 0;
  }

  .nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, .12);
  }

  .brand {
    margin-top: 24px;
  }

  .menu-button {
    padding: 24px 20px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu {
    background-color: #181823;
  }

  .hero-section {
    height: auto;
    padding-right: 0;
  }

  .hero-image-box {
    height: 45vh;
  }

  .heading_76px {
    margin-bottom: 16px;
    font-size: 32px;
  }

  .hero-text-block {
    background-image: linear-gradient(#181823, #181823);
    margin-left: 0;
    padding: 48px 20px;
  }

  .hero-bg {
    display: none;
  }

  .experience-section {
    padding: 64px 20px;
  }

  .heading_55px {
    font-size: 32px;
  }

  .experience-grid {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .experience-block {
    padding-right: 0;
  }

  .mid-section {
    height: auto;
    display: block;
  }

  .mid_left-block {
    height: 450px;
    padding: 48px 20px;
  }

  .normal-wrapper._48px-right_p {
    padding-right: 0;
  }

  .normal-wrapper._120px-bottom_m {
    margin-bottom: 64px;
  }

  .mid_image {
    height: 450px;
  }

  .skills-section, .projects-section, .dribbble-section {
    padding: 64px 20px;
  }

  .wrapper-v2.forms-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .dribbble-image {
    background-size: cover;
  }

  .testimonial-section {
    padding: 64px 20px;
  }

  .testimonial-sticky-block {
    position: static;
  }

  .tabs-section {
    padding: 64px 20px;
  }

  .tab {
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    display: flex;
  }

  .tab-menu {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .tab-grid {
    height: auto;
  }

  .tab-image {
    height: 360px;
  }

  .forms-section {
    padding: 64px 20px;
  }

  .footer {
    height: auto;
  }

  .skills-wrapper._48px-right_p {
    padding-right: 0;
  }

  .banner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .testimonial-text {
    padding: 24px;
  }

  .tab-grid, .tab-grid.pricinggrid {
    grid-template-columns: 1fr;
  }
}

#w-node-_3cb0f931-ad23-8f11-e7c9-7467d5aa3ec3-f9641b4e, #w-node-c07b73a0-4560-1829-def8-54c08f04f882-f9641b4e {
  align-self: center;
}

#w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-f9641b4e {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_20fb4e4e-28e7-2296-bcbf-21d7bf990718-f9641b4e, #w-node-_5fc128a5-d191-3f33-6811-45c3acc01218-f9641b4e, #w-node-e8d1733f-0ea5-8deb-0dd3-f6eb6f87672c-f9641b4e, #w-node-a9e96a7f-21b3-86fe-ee2c-401c16d269e1-f9641b4e, #w-node-_1b53e866-b25a-83c1-3fc4-8fa2dba5fc5d-f9641b4e, #w-node-_1ca189c3-9ead-8101-35bd-c41d98e8b766-f9641b4e, #w-node-e7b30a07-ce8d-c792-eb98-be6ecb67225f-f9641b4e, #w-node-_7aa1a571-7d89-d9f7-021e-0a0afda9eec3-f9641b4e, #w-node-_27b33951-e88c-09b7-eacf-bf93850b0972-f9641b4e, #w-node-_1d8fc772-7e01-6dfc-18a2-d447dbdb9ecc-f9641b4e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2a9716ca-4096-3850-2d15-28cc733fbdd4-1e7d8e5d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-c07b73a0-4560-1829-def8-54c08f04f882-39880d45 {
  align-self: center;
}

#w-node-a8308175-ea0b-562e-0296-965886ec326a-39880d45, #w-node-_8921e476-ed6f-5b3a-155d-bf6402b8fcf7-39880d45, #w-node-bb9a582a-18af-f4b2-ebc4-c52cbb97148f-39880d45, #w-node-_29478aa6-8e2c-dd86-ebec-633e66c3535b-39880d45, #w-node-bf4bf9b7-0bb9-b10e-71ec-d0ee36f02dc0-39880d45, #w-node-_1fcbdbc7-0227-572e-2126-9c02854fd45d-39880d45, #w-node-b1e0f5cc-fd07-7dca-176c-6b902172d5b5-39880d45, #w-node-_3efdb579-ff5b-f335-325d-ef1f2d3b2911-39880d45, #w-node-f3bfb1f6-c650-7982-a537-248305070b16-39880d45, #w-node-a3f5cac1-517d-709d-c408-68d2bd5a6555-39880d45, #w-node-b4aa3318-b0f3-1563-4ea3-3bd73919e11c-39880d45, #w-node-cec207f9-34c5-fb0d-da01-4af4bb1506b1-39880d45, #w-node-b594fc74-6cba-f983-c441-d0430429a731-39880d45 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3cb0f931-ad23-8f11-e7c9-7467d5aa3ec3-8c55ff2f, #w-node-c07b73a0-4560-1829-def8-54c08f04f882-8c55ff2f, #w-node-_3cb0f931-ad23-8f11-e7c9-7467d5aa3ec3-ce26008c, #w-node-c07b73a0-4560-1829-def8-54c08f04f882-ce26008c, #w-node-_3cb0f931-ad23-8f11-e7c9-7467d5aa3ec3-1e1a82b9, #w-node-c07b73a0-4560-1829-def8-54c08f04f882-1e1a82b9 {
  align-self: center;
}

#w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-1e1a82b9 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_3cb0f931-ad23-8f11-e7c9-7467d5aa3ec3-bbf04cee, #w-node-c07b73a0-4560-1829-def8-54c08f04f882-bbf04cee, #w-node-c07b73a0-4560-1829-def8-54c08f04f882-01ee9e5d {
  align-self: center;
}

#w-node-a8308175-ea0b-562e-0296-965886ec326a-01ee9e5d, #w-node-_8921e476-ed6f-5b3a-155d-bf6402b8fcf7-01ee9e5d, #w-node-bb9a582a-18af-f4b2-ebc4-c52cbb97148f-01ee9e5d, #w-node-_29478aa6-8e2c-dd86-ebec-633e66c3535b-01ee9e5d, #w-node-bf4bf9b7-0bb9-b10e-71ec-d0ee36f02dc0-01ee9e5d, #w-node-_1fcbdbc7-0227-572e-2126-9c02854fd45d-01ee9e5d, #w-node-_3efdb579-ff5b-f335-325d-ef1f2d3b2911-01ee9e5d, #w-node-f3bfb1f6-c650-7982-a537-248305070b16-01ee9e5d, #w-node-a3f5cac1-517d-709d-c408-68d2bd5a6555-01ee9e5d, #w-node-cec207f9-34c5-fb0d-da01-4af4bb1506b1-01ee9e5d, #w-node-b594fc74-6cba-f983-c441-d0430429a731-01ee9e5d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c07b73a0-4560-1829-def8-54c08f04f882-803c008a {
  align-self: center;
}

#w-node-a8308175-ea0b-562e-0296-965886ec326a-803c008a, #w-node-_8921e476-ed6f-5b3a-155d-bf6402b8fcf7-803c008a, #w-node-bb9a582a-18af-f4b2-ebc4-c52cbb97148f-803c008a, #w-node-_29478aa6-8e2c-dd86-ebec-633e66c3535b-803c008a, #w-node-bf4bf9b7-0bb9-b10e-71ec-d0ee36f02dc0-803c008a, #w-node-_1fcbdbc7-0227-572e-2126-9c02854fd45d-803c008a, #w-node-_3efdb579-ff5b-f335-325d-ef1f2d3b2911-803c008a, #w-node-f3bfb1f6-c650-7982-a537-248305070b16-803c008a, #w-node-a3f5cac1-517d-709d-c408-68d2bd5a6555-803c008a, #w-node-_5e4bd8ae-a928-62e4-848d-c46064a3dc38-803c008a, #w-node-d7cc5dda-3f0c-6ee1-0af5-b35b3c858787-803c008a, #w-node-_3549ca57-d0dd-8075-29da-d9066d45dc02-803c008a, #w-node-_51c8147d-b103-0e38-19c3-6f73b13440b6-803c008a, #w-node-_9562d2df-6d90-aa89-038d-13055364a38b-803c008a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-f9641b4e, #w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-1e1a82b9 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-f9641b4e, #w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-1e1a82b9 {
    grid-column: span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_2a9716ca-4096-3850-2d15-28cc733fbdd4-1e7d8e5d {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Fa brands 400';
  src: url("/assets/fonts/fa-brands-400.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url("/assets/fonts/fa-solid-900.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}